[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "speedycode"]
	path = speedycode
	url = https://github.com/cran/speedycode
	shallow = true
	registered = true
